pyrogram>=2.0.100
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp==3.7.4
python-dotenv
psutil
heroku3
openai==0.25.0
psutil

python-telegram-bot==10.1.0
Pillow>=4.2.0
telegraph

youtube_search
youtube-search-python==1.4.6
yt_dlp
youtube_dl
wget
aiofiles

doodstream
unshortenit
mdisky

googletrans==3.1.0a0
